html, body {
    display: flex;
    flex-direction: column;
}

html, body, main {
    display: flex;
    flex-direction: row;
    flex: auto
}

article{
    flex: 2
}

aside {
    overflow-y: auto
}

